// =========================================
// VARIABLES
// =========================================
$font-heading:'Staatliches', cursive;
$font-p:'Open Sans', sans-serif;
$font-size-header: 4rem;
$font-size-p:1rem;
$font-size-title: 2rem;

$color-main:#000000;
$opaque:rgba(0, 0, 0, 0.7 );
$color-secondary: #e7e4d9;
$color-accent:#37dfdb;
$color-accent-dark:#165756;
$color-button:#6fdf37;

$sass-color:#c69;
$css3-color: dodgerblue;
$html5-color:#f06529;

$accessibility-min: 44px;

$halfRem: .5rem;



$shadow-drop:5px 5px 10px $color-main;
// =========================================
// @mixins  use @include to use the mixin
// =========================================

@mixin flexCenter{
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    width: 100vw;
}
@mixin  cardGrid {
    display: grid;
    grid-template-rows:auto auto auto;
    grid-template-columns: auto;
    grid-gap: 2px;
    justify-items: center;
    align-items: center;
}
@mixin reset{
    margin:0;
    padding:0;
    list-style: none;
}
@mixin signUpBtn{
    border-radius: 20px;
    border: none;
    color: $color-main;
    background-color: $color-button;
    font-weight: bold;
    box-shadow: $shadow-drop;
    text-align: center;
    font-family:$font-p;
    font-size: 1rem;
    text-transform: capitalize;
    max-width:200px;
}
@mixin centerPadding{
    padding-left: .5rem;
    padding-right:.5rem;
}

@mixin accessibilityPx{
    min-height: 44px;
    min-width: 44px;
}

// =========================================
// Base Styling
// =========================================
*{
    box-sizing: border-box;
}

html,
body{
    background-color: $color-main;
    color:$color-secondary;
    margin:0;
}

.header{
    color:$color-accent;
    font-family: $font-heading;
    font-size: $font-size-header;
    padding-top:3rem;
    margin: 0;
    text-shadow:$shadow-drop;
    letter-spacing: .25rem;
    line-height: 4rem;
}
p{
    font-size: .5rem;
    font-family: $font-p;
    text-align: center;
}
h2{
    margin: 0;
}
img{
    margin:0;
}
.topbtn{
    @include signUpBtn;
    margin-top: 1rem;
    height: $accessibility-min;
    @include accessibilityPx();
}
.longbtn{
    @include signUpBtn;
    width: 30vw;
    // max-width:175vw;
    margin-bottom: 1rem;
    @include accessibilityPx();
}
.desc{
    font-family:$font-p;
    background-color: $opaque;
}
.navigation{
    display: none;
}
.centerme{
    margin:auto;
}
footer{
    margin-top:1rem;
}
// =========================================
// Class Styling
// =========================================
.cardimg{
    width: 60vw;
    max-width: 450px;
   margin:1rem;
}
article{
    padding:1rem;
    font-family: $font-p;
}
.title{
    font-family:$font-heading;
    letter-spacing: .25rem;
    background-color: $color-accent;
    color: $color-main;
    @include centerPadding();
}
.card{
    width:75vw;
    text-align: center;
    @include flexCenter;
    margin-top:1rem;
}
.eachCard{
    @include cardGrid;
    margin:2rem;
    border: 5px solid $color-accent-dark;
   max-width:500px;
}
.jumbotron{
    background-image: url("img/danny-howe-bn-D2bCvpik-unsplash.jpg");
    box-shadow: 0px 0px 10px 20px  black inset;
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    width: 100vw;
    z-index: -1;
  
}


// =========================================
// Footer Icons
// =========================================

footer{
    text-align: center;
    margin-bottom: 1rem;
   @include flexCenter();
   @include centerPadding;
    .fa-hand-holding-heart{
        color:hotpink;
    }
    .fa-css3-alt{
        color:$css3-color;
    }
    .fa-sass{
    color: $sass-color;
    }
    .fa-html5{
        color:$html5-color;
    }
    .made{
        font-size: 1.25rem;
    }
}




// =========================================
// Placeholder for @extend
// =========================================


// =========================================
// MODAL
// =========================================
.modal{
    // display: inline;
    // position: fixed;
    z-index: 1;
    width: 60vw;
    height: auto;
    overflow: hidden;
    background-color:$color-accent;
    color: $color-main;
    font-family:$font-heading;
    font-size: 3rem;
    letter-spacing: .25rem;
    margin:auto;
    text-align: center;
    padding-bottom:2rem;
    border-radius: 25px;
        #email{
            border:2px solid $color-accent-dark;
        }
        p{
            font-size:1rem;
            letter-spacing:normal;
        }
}